.skills {
  margin-bottom: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;

    .head {
      font-weight: 100;
      font-family: "Open Sans";
      margin-bottom: 2rem;
    }

    .pillTitle {
      font-family: "Open Sans";
      font-size: 2rem;
      margin: 1rem 0px;
    }
    .pillContainer {
      display: flex;
      flex-wrap: wrap;

      .pill {
        margin-right: 1rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        font-size: 1.5rem;
        background-color: #525252;
        padding: 0.5rem 2rem;
        border-radius: 100px;
      }
    }
  }
}
