.gridItem {
  padding: 2rem;
  height: 150px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;

  img {
    max-width: 80px;
    grid-area: logo;
  }

  .head {
    margin-left: 1rem;
    flex: 1;
    grid-area: head;
  }

  .sub {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans";
  }

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
    padding: 1rem;
    height: 80px;

    .sub {
      font-size: 0.8rem;
    }
  }
}
