$colors: (
  background: #0b0c10,
  color: #fff,
  primary: #66fcf1,
);

html {
  font-size: 16px;
  user-select: none;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: "Open Sans";
}
