.work {
  margin-top: calc(100vh + 80px);
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-bottom: 2rem;
  //   background-image: url(${require("../assets/shapes.png")});
  background-size: contain;
  background-repeat: no-repeat;

  .head {
    font-size: 2rem;
    font-family: "Open Sans";
    font-weight: 100;
  }

  .container {
    width: 100%;
  }

  .grid {
    display: grid;
    margin: auto;
    width: 100%;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;

    @media screen and (max-width: 768px) {
      grid-gap: 1rem;
      grid-template-columns: auto;
    }
  }
}
